/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

/* Header styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 25px 10%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: aliceblue;
    font-weight: 600;
    transition: 0.3s ease;
}

.logo:hover {
    color: rgb(208, 255, 0);
    text-shadow: 0 0 25px rgb(255, 111, 0),
                 0 0 50px rgb(255, 0, 0);
    transform: scale(1.1);
}

span {
    color: rgb(255, 111, 0);
}

.navbar a {
    font-size: 18px;
    color: aliceblue;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
    color: rgb(208, 255, 0);
    border-bottom: 3px solid rgb(255, 111, 0);
}

.contact {
    padding: 10px 28px;
    background-color: rgb(255, 111, 0);
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.contact:hover {
    background-color: rgb(208, 255, 0);
    box-shadow: 0 0 25px rgb(255, 111, 0);
    color: black;
}

.home {
    width: 100%;
    min-height: 100vh;
    background: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    padding: 30px 12% 0;
    margin-top: 50px;
}

.home-content {
    max-width: 800px;
    text-align: center;
}

.home-content h3 {
    font-size: 32px;
}

.home-content h1 {
    font-size: 48px;
    line-height: 1.2;
}

.home-content p {
    font-size: 18px;
    margin: 25px 0 30px;
}

.btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.btn-1, .btn-2 {
    padding: 15px 28px;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
    text-align: center;
}

.btn-1 {
    background-color: black;
    color: white;
    border: 2px solid transparent;
}

.btn-1:hover {
    background-color: aliceblue;
    color: black;
    border: 2px solid black;
}

.btn-2 {
    background-color: rgb(255, 111, 0);
    color: white;
    border: 2px solid black;
}

.btn-2:hover {
    background-color: aliceblue;
    color: rgb(255, 111, 0);
}

.img-box img {
    border-radius: 50%;
    width: 200px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 111, 0);
}

::-webkit-scrollbar-track {
    background-color: rgba(221, 236, 155, 0.986);
    width: 50px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 3em;
    background: black;
}

.about-img img {
    position: relative;
    width: 200px;
    box-shadow: 0 0 25px rgb(255, 111, 0),
                0 0 50px rgb(255, 111, 0);
    border-radius: 50%;
}

.about-content {
    text-align: center;
}

.about-content h2 {
    color: aliceblue;
    font-size: 32px;
}

.about-content h3 {
    font-size: 48px;
    color: aliceblue;
}

.about-content p {
    color: aliceblue;
    font-size: 18px;
    margin: 2em 0 3em;
    text-align: left;
}
#ser-color{
    background: aliceblue
    height:28em
}
div.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1% 8%;
    gap: 3em;
    background: rgb(244, 92, 15);
}

div.services:hover {
    background-color: rgba(196, 237, 13, 0.986);
    transition: 0.5s ease;
}

.ser-content {
    display: inline-flex;
    flex-direction: row; 
    width: 22%;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 12% 7%;
    margin-left: 8%;
    margin-top: 15px;
    box-shadow: 0 0 25px rgba(196, 237, 13, 0.986),
                0 0 50px rgba(196, 237, 13, 0.986);
    border-radius: 18%;
}

.ser-content:hover {
    background: rgb(235, 129, 7);
}

div.content1 {
    justify-content: center;
    width: 200px;
    border-radius: 0%;
}

div.content {
    justify-content: left;
    width: 200px;
    box-shadow: 0 0 25px orangered,
                0 0 50px orangered;
    border-radius: 0%;
}

.content1 > p {
    font-size: 150%;
    font-weight: 600;
    text-align: center;
}

.contact-form h2 {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 32px;
}

.contact-form form {
    max-width: 50%;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
    padding: 0 1em;
    background: black;
    border-radius: 5%;
}

.contact-form form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea {
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: aliceblue;
    border-radius: 0.8rem;
    margin: 1rem 0;
    resize: none;
    
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: aliceblue;
}

.footer .social a {
    font-size: 24px;
    color: aliceblue;
    border: 2px solid rgb(255, 111, 0);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px rgba(196, 237, 13, 0.986), 0 0 10px rgb(255, 111, 0);
    transition: 0.3s ease;
}

.footer .social a:hover {
    transform: scale(1.2) translateY(-10px);
    color: rgb(255, 111, 0);
    border: 2px solid rgb(255, 111, 0);
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a {
    color: aliceblue;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li a:hover {
    border-bottom: 3px solid rgba(196, 237, 13, 0.986);
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: aliceblue;
}

/* Media Queries for responsiveness */

/* For large screens */
@media (min-width: 1024px) {
    .header {
        padding: 35px 12%;
    }

    .home {
        flex-direction: row;
        gap: 7em;
    }

    .home-content {
        text-align: left;
    }

    .home-content h3 {
        font-size: 42px;
    }

    .home-content h1 {
        font-size: 62px;
    }

    .btn-box {
        width: 345px;
    }

    .img-box img {
        width: 250px;
    }

    .about {
        flex-direction: row;
        gap: 10em;
    }

    .about-content h2, .about-content h3 {
        text-align: left;
    }

    .contact-form form {
        max-width: 60%;
    }
}

/* For small screens */
@media (max-width: 768px) {
    .header {
        padding: 20px 5%;
    }

    .navbar a {
        font-size: 16px;
        margin: 0 10px;
    }

    .contact {
        padding: 8px 20px;
        font-size: 14px;
    }

    .home-content h3 {
        font-size: 28px;
    }

    .home-content h1 {
        font-size: 38px;
    }

    .home-content p {
        font-size: 16px;
    }

    .btn-1, .btn-2 {
        padding: 10px 20px;
        font-size: 16px;
    }

    .img-box img {
        width: 150px;
    }

    .about-content h2 {
        font-size: 28px;
    }

    .about-content h3 {
        font-size: 38px;
    }

    .about-content p {
        font-size: 16px;
    }

    div.services {
        flex-direction: column;
        gap: 2em;
    }

    .ser-content {
        width: 50%;
        padding: 10% 5%;
        margin-left: 25%;
    }

    .contact-form form {
        max-width: 90%;
        padding: 0 1em;
    }
}

/* For extra small screens (mobile devices) */
@media (max-width: 480px) {
    .header {
        padding: 15px 3%;
    }

    .logo {
        font-size: 20px;
    }

    .navbar a {
        font-size: 14px;
        margin: 0 5px;
    }

    .contact {
        padding: 6px 15px;
        font-size: 12px;
    }

    .home-content h3 {
        font-size: 24px;
    }

    .home-content h1 {
        font-size: 32px;
    }

    .home-content p {
        font-size: 14px;
    }

    .btn-1, .btn-2 {
        padding: 8px 16px;
        font-size: 14px;
    }

    .img-box img {
        width: 100px;
    }

    .about-content h2 {
        font-size: 24px;
    }

    .about-content h3 {
        font-size: 32px;
    }

    .about-content p {
        font-size: 14px;
    }

    div.services {
        padding: 5% 3%;
    }

    .ser-content {
        padding: 8% 4%;
    }

    .contact-form form {
        max-width: 100%;
        padding: 0 0.5em;
    }

    .footer .social a {
        font-size: 20px;
        width: 30px;
        height: 30px;
        line-height: 28px;
    }

    .footer ul {
        font-size: 16px;
    }

    .footer .copyright {
        font-size: 10px;
    }
}
